<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
	<style type="text/css">
		#content{
			width: 100%;
			/*height: 100%;*/
			display: flex;
		}
		#left-menu{
			min-width: 380px;
			overflow-y: hidden;
			border-right-style: groove;
			border-right-style: double;
		}
		.top-bar{
			display: flex;
		}
		.edit-area-top-button{
			width: 50%;
			background-color: #0075c7;
			color: white;	
			text-align: center;
			border: 1px solid gray;
			padding: 2px 1px;
			/*border-radius: 5px;*/
		}
		.edit-area-top-button:hover{
			cursor: pointer;
		}
		#data_table{
			width: 100%;
			border-collapse: collapse;
			border:1px solid gray;
		}
		#generate-line-button{
			width: 99%;
			border:0;
		}
		td,th{
			border:1px solid gray;
			/*border-radius: 16px;*/
			/*padding:2px 3px; */
		}
		#map-container{
			/*width: 100%;*/
	/*		height: 800px;
			margin: 0;*/
			width: 100%;
			height: 940px;
		}
		.onmouseover-tr:hover{
			background-color: #e0e0e0;
		}
		.onmouseclick-tr{
			background-color:#039be5; 
		}
		.map-toolbar{
			position: absolute;
			z-index: 100;
			right: 0px;
			top:0px;
			background: rgba(34,34,34,0.65);
		}
		.map-toolbar > a > span:hover{
			background-color:gray;
		}
	</style>	
	<script type="text/javascript" src="https://api.map.baidu.com/getscript?v=2.0&ak=dZEY70WX7QvqGjMqd86GX0Gy7PjZAzIe&services=&t=20170926125934"></script>
</head>
<body>
<div id="content">
	<div id="left-menu">
		<div class="top-bar">
			<div class="edit-area-top-button" id="add-point-button" v-on:click="addPointOnClick">增加节点</div>
			<div class="edit-area-top-button" id="delete-point-button" v-on:click="deletePointOnClick">删除选中节点</div>
		</div>
		<div class="edit-area-top-button" id="generate-line-button" v-on:click="generateLineOnClick">生成线路</div>
		<table id="data_table">
			<tr>
				<th></th>
				<th>点类型</th>
				<!-- <th></th> -->
				<th>x</th>
				<th>y</th>
				<th>线路号</th>
			</tr>
			<tr class="onmouseover-tr" v-for="(point, index) of pointStore">
				<td>
					<input type="checkbox" ref="checkbox">
				</td>
				<td>
					<select v-on:change="lineTypeChange($event, point)">
						<!-- <option value="" disabled selected>空</option> -->
						<option v-for="type of pointTypesStore" :value="type.id">{{type.name}}</option>
					</select>
				</td>
				<!-- <td>{{point.type}}</td> -->
				<td ref="xVal" contenteditable="true" v-on:blur="xValueChange(point,index)">{{point.x}}</td>
				<td ref="yVal" contenteditable="true" v-on:blur="yValueChange(point,index)">{{point.y}}</td>
				<td ref="lineIndexVal" contenteditable="true" v-on:blur="lineIndexValueChange(point,index)">{{point.lineIndex}}</td>
			</tr>
		</table>
	</div>
	<div class="map-toolbar list-group">
		<a class="list-group-item" href="#"><span class="fa fa-plus fa-fw fa-2x" style="color:white" onclick="iconToolBarAddOnClick(event)"></span></a>
	</div>
	<div id="map-container"></div>		
</div>
	
</body>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript">
	let Constants = {
		Point : {
			COMMON_POINT:{id:0, name:"普通插值点"},
			LINE_START_POINT:{id:1, name:"线路起点"},
			LINE_END_POINT:{id:2, name:"线路终点"},
			TUNNEL_START_POINT:{id:3, name:"线路终点"},
			TUNNEL_END_POINT:{id:4, name:"隧道终点"}
		},
		ZoomMap: new Map()
	};
	
	let initializeZoomMap = (datas) => {
		for(let [key, value] of datas){
			Constants.ZoomMap.set(key, value);
		}
	};

	// cannot use arrow function in vue instance, so i choose to imple it in a ugly way like this
	function notifyDecorator(listener,listenerFunc,sourceContext,sourceFunc){
		return function(...args){
			sourceFunc.call(sourceContext,args);
			listenerFunc.call(listener,args);
		}
	}

	class Point{
		constructor(type, x, y, lineIndex=0){
			this.type = type;
			this.x = x;
			this.y = y;
			this.lineIndex = lineIndex;
		}
	}

	class MapViewController{
		constructor(){
			this.markers = [];
			this.polyline = null;
			this.map = null;
			// this.initializeMap(containerId);
		}
		initializeMap(containerId) {
			this.map = new BMap.Map(containerId);
			let point = new BMap.Point(116.404, 39.915);	
			this.map.centerAndZoom(point,15);
			
			this.map.addControl(new BMap.NavigationControl({type:BMAP_NAVIGATION_CONTROL_SMALL}));

			this.map.enableScrollWheelZoom(true);

			initializeZoomMap([[1,2],[3,4]]);
		}
		addMarker(type,x,y,index,bus){
	  		let marker = new BMap.Marker(new BMap.Point(x,y));
	  		marker.enableDragging();
	  		this.markers.push(marker);
	  		this.map.addOverlay(marker);

	  		let _self = this;

	  		// use decorator to notify the vue model
	  		// since the this is bind to a marker instance, cannot use arrow function
	  		marker.addEventListener("dragend",function(){
	  			let point = this.getPosition();
	  			
	  			// retrieve the index
	  			// since marker may be deleted, use this instead of store it in instance
	 			let nowIndex = _self.markers.indexOf(marker);

  				bus.$emit("position-change-from-map-view", point.lng,point.lat,nowIndex);

  				_self.generateLine();
	  		});
	  		marker.addEventListener("dragging",function(){
	  			clearTimeout(this._onDragTimerId)
	  			this._onDragTimerId = setTimeout(function(){
	  				_self.generateLine();
	  			}, 10);
	  		});
		}
		deleteMarker(indexInStore){
			this.map.removeOverlay(this.markers[indexInStore]);
			this.markers.splice(indexInStore,1);
		}
		resetMarkerPosition(x,y,indexInStore){
			this.markers[indexInStore].setPosition(new BMap.Point(x,y));
		}
		resetMapCenterPosition(point){
			console.log(point);
			this.map.centerAndZoom(new BMap.Point(point.x,point.y),15);	
		}
		generateLine(){
			if(this.polyline != null){
				this.map.removeOverlay(this.polyline);
			}

			let points = this.markers.map((marker) => marker.getPosition());

			this.polyline = new BMap.Polyline(points, {strokeColor:"blue", strokeWeight:2, strokeOpacity:0.5});   //创建折线
			this.map.addOverlay(this.polyline);   //增加折线
		}
	}

	let pointStore = [];

	let bus = new Vue();

	let pointStoreVueModel = new Vue({
		el:"#left-menu",
		data:{
			pointStore:pointStore,
			activePoint:null,
			pointTypesStore:Constants.Point
		},
		created:function(){
			bus.$on("add-point-from-map-view", this.addPoint);
			bus.$on("position-change-from-map-view", this.positionChange);
		},
		methods:{
			addPoint:function(type,x,y,index=0){
				this.pointStore.push(new Point(type,x,y,index));
			},
			addPointOnClick:function(){
				const OFFSET = 0.001;
				let args = [Constants.Point.COMMON_POINT,pointStore[pointStore.length-1].x + OFFSET,pointStore[pointStore.length-1].y + OFFSET,0];
				this.addPoint(...args);
				bus.$emit("add-point-from-store", ...args);
			},
			selected:function (selectedPoint) {
				this.activePoint = selectedPoint;
			},
			lineTypeChange:function(event, point) {
				point.type = parseInt(event.target.value);
				if(point.type == Constants.Point.LINE_START_POINT.id){
					bus.$emit("reset-center-position", point);
				}
			},
			positionChange:function(x,y,indexInStore){
				this.$set(this.pointStore[indexInStore],"x",x);
				this.$set(this.pointStore[indexInStore],"y",y);
			},
			xValueChange:function(point,indexInStore) {
				// since i think innerText is not that good to bind
				this.positionChange(parseFloat(this.$refs.xVal[indexInStore].innerText),parseFloat(this.$refs.yVal[indexInStore].innerText),indexInStore);
				bus.$emit("position-change-from-store",point.x,point.y,indexInStore);
			},
			yValueChange:function(point,indexInStore) {
				this.positionChange(parseFloat(this.$refs.xVal[indexInStore].innerText),parseFloat(this.$refs.yVal[indexInStore].innerText),indexInStore);
				bus.$emit("position-change-from-store",x,y,indexInStore);
			},
			lineIndexValueChange:function(point,indexInStore) {
				point.lineIndex = parseFloat(this.$refs.lineIndexVal[indexInStore].innerText);
			},
			deletePoint:function(i){
				pointStore.splice(i,1);
			},
			deletePointOnClick:function(){
				//reverse iteration order
				for(let i = pointStore.length - 1; i >= 0; i--){
					if(this.$refs.checkbox[i].checked == true){
						// this.deletePoint(i);
						this.deletePoint(i);
						bus.$emit("delete-point-from-store", i);
					}
				}

				// to prevent that after deleting points, there're still some of points' checkbox are selected
				for(let j of this.$refs.checkbox){
					j.checked = false;
				}
			},
			generateLineOnClick:function(){
				bus.$emit("generate-line-from-store");
				// mapViewController.generateLine();
			}
		}
	});



	let mapVueModel = new Vue({
		data:{
			mapViewController:new MapViewController()
		},
		created:function() {
			this.mapViewController.initializeMap("map-container");

			bus.$on("add-point-from-store", this.onAddPointFromStore);
			bus.$on("reset-center-position", this.onResetCenterPosition);
			bus.$on("position-change-from-store", this.onPositionChangeFromStore);
			bus.$on("delete-point-from-store", this.onDeletePointFromStore);
			bus.$on("generate-line-from-store", this.onGenerateLineFromStore);
		},
		methods:{
			onAddPointFromStore:function(type,x,y,index){
				this.mapViewController.addMarker(type, x, y, index, bus);
				this.mapViewController.generateLine();
			},
			onResetCenterPosition:function(point) {
				this.mapViewController.resetMapCenterPosition(point);
			},
			onPositionChangeFromStore:function(x,y,indexInStore){
				this.mapViewController.resetMarkerPosition(x, y, indexInStore);
				this.mapViewController.generateLine();
			},
			onDeletePointFromStore:function(indexInStore){
				this.mapViewController.deleteMarker(indexInStore);
				this.mapViewController.generateLine();
			},
			onGenerateLineFromStore:function(){
				this.mapViewController.generateLine();
			}
		}
	});

	function iconToolBarAddOnClick(mouseEvent){
		const OFFSET = 0.001;

		let args = [
			Constants.Point.COMMON_POINT,
			pointStore[pointStore.length-1].x + OFFSET,
			pointStore[pointStore.length-1].y + OFFSET
		];

		mapVueModel.mapViewController.addMarker(...args);
		bus.$emit("add-point-from-map-view", ...args);
	}

	pointStoreVueModel.addPoint(Constants.Point.COMMON_POINT,116.404,39.915,1);
	bus.$emit("add-point-from-store", Constants.Point.COMMON_POINT,116.404,39.915,1);
</script>
</html>